/* Styla header */
.header {
    background-color: #042331;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  



  /* Styla Body */
  .content {
    padding: 20px;
    text-align: right;
  }
  




  /* Styla footer */
  .footer {
    background-color: #042331;
    color: #fff;
    padding: 50px;
    text-align: center
  }

  .footer a {
color: #fff;
  }

  .footer a:hover {
    color: #00bfff;
  }