/* Styla header */
.header {
    background-color: #042b3d;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
.header a{
color: #ffffff;
  }
 .header a:hover {
    color: #00bfff;
  } */
  nav {
    height: 80px;
    line-height: 80px;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 1px;
    padding: 2px;

}

nav ul li {
margin: 30px;
display: inline;

}

nav ul li a {
    text-decoration: none;
    padding: 10px;
  }

  s
  /* Styla Body */
  .section {
    padding: 20px;
    text-align: left;
  }
  




  /* Styla footer */
  .footer {
    background-color: #042331;
    color: #fff;
    padding: 50px;
    text-align: center
  }